In [19]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.model_selection import train_test_split

In [8]:
pd.set_option('display.max_columns', 500, 'display.width', 1000, 'display.max_rows', 500)

In [ ]:
data = pd.read_csv(r"data\heart_attack_dataset.csv")
print(data.shape)
data.head(2)

(372974, 32)

,Age,Gender,Cholesterol,BloodPressure,HeartRate,BMI,Smoker,Diabetes,Hypertension,FamilyHistory,PhysicalActivity,AlcoholConsumption,Diet,StressLevel,Ethnicity,Income,EducationLevel,Medication,ChestPainType,ECGResults,MaxHeartRate,ST_Depression,ExerciseInducedAngina,Slope,NumberOfMajorVessels,Thalassemia,PreviousHeartAttack,StrokeHistory,Residence,EmploymentStatus,MaritalStatus,Outcome
0,31,Male,194,162,71,22.9,0,1,0,0,6,0,Unhealthy,1,Hispanic,64510,High School,Yes,Typical,ST-T abnormality,173,0.52,Yes,Downsloping,1,Normal,0,0,Suburban,Retired,Single,No Heart Attack
1,69,Male,208,148,93,33.9,1,1,0,0,1,2,Unhealthy,6,Asian,91773,College,No,Atypical,LV hypertrophy,189,3.79,Yes,Upsloping,2,Normal,0,0,Suburban,Unemployed,Married,No Heart Attack

In [17]:
data.Outcome.value_counts()

Outcome
No Heart Attack    186658
Heart Attack       186316
Name: count, dtype: int64

In [21]:
df_main, df_trigger = train_test_split(data, test_size=0.3, random_state=42, stratify=data.Outcome)

In [22]:
print(df_main.shape)
print(df_trigger.shape)

(261081, 32)
(111893, 32)

In [25]:
df_main.to_csv(r'data\main.csv', index=False)
df_trigger.to_csv(r'data\trigger.csv', index=False)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372974 entries, 0 to 372973
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Age                    372974 non-null  int64
 1   Gender                 372974 non-null  object
 2   Cholesterol            372974 non-null  int64
 3   BloodPressure          372974 non-null  int64
 4   HeartRate              372974 non-null  int64
 5   BMI                    372974 non-null  float64
 6   Smoker                 372974 non-null  int64
 7   Diabetes               372974 non-null  int64
 8   Hypertension           372974 non-null  int64
 9   FamilyHistory          372974 non-null  int64
 10  PhysicalActivity       372974 non-null  int64
 11  AlcoholConsumption     372974 non-null  int64
 12  Diet                   372974 non-null  object
 13  StressLevel            372974 non-null  int64
 14  Ethnicity              372974 non-null  object
 15  Income                 372974 non-null  int64
 16  EducationLevel         372974 non-null  object
 17  Medication             372974 non-null  object
 18  ChestPainType          372974 non-null  object
 19  ECGResults             372974 non-null  object
 20  MaxHeartRate           372974 non-null  int64
 21  ST_Depression          372974 non-null  float64
 22  ExerciseInducedAngina  372974 non-null  object
 23  Slope                  372974 non-null  object
 24  NumberOfMajorVessels   372974 non-null  int64
 25  Thalassemia            372974 non-null  object
 26  PreviousHeartAttack    372974 non-null  int64
 27  StrokeHistory          372974 non-null  int64
 28  Residence              372974 non-null  object
 29  EmploymentStatus       372974 non-null  object
 30  MaritalStatus          372974 non-null  object
 31  Outcome                372974 non-null  object
dtypes: float64(2), int64(16), object(14)
memory usage: 91.1+ MB

In [16]:
data.isnull().sum().reset_index()

                    index  0
0                     Age  0
1                  Gender  0
2             Cholesterol  0
3           BloodPressure  0
4               HeartRate  0
5                     BMI  0
6                  Smoker  0
7                Diabetes  0
8            Hypertension  0
9           FamilyHistory  0
10       PhysicalActivity  0
11     AlcoholConsumption  0
12                   Diet  0
13            StressLevel  0
14              Ethnicity  0
15                 Income  0
16         EducationLevel  0
17             Medication  0
18          ChestPainType  0
19             ECGResults  0
20           MaxHeartRate  0
21          ST_Depression  0
22  ExerciseInducedAngina  0
23                  Slope  0
24   NumberOfMajorVessels  0
25            Thalassemia  0
26    PreviousHeartAttack  0
27          StrokeHistory  0
28              Residence  0
29       EmploymentStatus  0
30          MaritalStatus  0
31                Outcome  0

In [ ]:
data.describe()

,Age,Cholesterol,BloodPressure,HeartRate,BMI,Smoker,Diabetes,Hypertension,FamilyHistory,PhysicalActivity,AlcoholConsumption,StressLevel,Income,MaxHeartRate,ST_Depression,NumberOfMajorVessels,PreviousHeartAttack,StrokeHistory
count,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000,372974.000000
mean,56.975151,199.455844,134.508234,89.495043,29.006733,0.499225,0.500987,0.500973,0.499901,3.003475,2.000048,5.001885,110033.409913,149.463896,2.501799,1.498525,0.496938,0.500815
std,15.867016,57.723381,25.984528,17.342658,6.345460,0.500000,0.500000,0.500000,0.500001,2.000114,1.414572,2.582025,51961.721991,28.849990,1.443696,1.118003,0.499991,0.500000
min,30.000000,100.000000,90.000000,60.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,20000.000000,100.000000,0.000000,0.000000,0.000000,0.000000
25%,43.000000,149.000000,112.000000,74.000000,23.500000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.000000,64957.250000,124.000000,1.250000,0.000000,0.000000,0.000000
50%,57.000000,199.000000,134.000000,89.000000,29.000000,0.000000,1.000000,1.000000,0.000000,3.000000,2.000000,5.000000,110111.000000,149.000000,2.500000,1.000000,0.000000,1.000000
75%,71.000000,249.000000,157.000000,105.000000,34.500000,1.000000,1.000000,1.000000,1.000000,5.000000,3.000000,7.000000,155012.000000,174.000000,3.750000,2.000000,1.000000,1.000000
max,84.000000,299.000000,179.000000,119.000000,40.000000,1.000000,1.000000,1.000000,1.000000,6.000000,4.000000,9.000000,199999.000000,199.000000,5.000000,3.000000,1.000000,1.000000