In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.model_selection import train_test_split

In [8]:
pd.set_option('display.max_columns', 500, 'display.width', 1000, 'display.max_rows', 500)

In [2]:
data = pd.read_csv(r"data\heart_attack_dataset.csv")
print(data.shape)
data.head(2)

(372974, 32)

,Age,Gender,Cholesterol,BloodPressure,HeartRate,BMI,Smoker,Diabetes,Hypertension,FamilyHistory,...,ExerciseInducedAngina,Slope,NumberOfMajorVessels,Thalassemia,PreviousHeartAttack,StrokeHistory,Residence,EmploymentStatus,MaritalStatus,Outcome
0,31,Male,194,162,71,22.9,0,1,0,0,...,Yes,Downsloping,1,Normal,0,0,Suburban,Retired,Single,No Heart Attack
1,69,Male,208,148,93,33.9,1,1,0,0,...,Yes,Upsloping,2,Normal,0,0,Suburban,Unemployed,Married,No Heart Attack

In [3]:
data.Outcome.value_counts()

Outcome
No Heart Attack    186658
Heart Attack       186316
Name: count, dtype: int64

In [4]:
df_main, df_trigger = train_test_split(data, test_size=0.25, random_state=42, stratify=data.Outcome)

In [5]:
print(df_main.shape)
print(df_trigger.shape)

(279730, 32)
(93244, 32)

In [6]:
df_main.to_csv(r'data\main.csv', index=False)
df_trigger.to_csv(r'data\trigger.csv', index=False)